/*--Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

/* Repeated CSS */

.container {
    justify-content: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    color: white;
    background-color: rgb(255, 184, 53);
    text-align: center;
}

/* Header */

header {
    background: rgb(255, 255, 255);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 70px;
    border-top: rgb(255, 184, 53) 18px solid;
}

header a {
    color: rgb(255, 184, 53);
    text-decoration: none;
    font-size: 18px;
    padding: 9px;
}

header .title {
    float: left;
}

header .title h1 {
    color: rgb(197, 197, 197);
    border: rgb(255, 184, 53) 2px solid;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size: 28px;
    font-weight: 300;
}

header nav {
    float: right;
    margin-top: 30px;
}

header a:hover {
    color: rgb(187, 186, 186);
}

ul {
    margin: 0;
    padding: 0;
}

/* Index Body */

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(226, 226, 226);
}